@model YehudaWebDev.Models.Airlines

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airlines</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPlanes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPlanes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWorkers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWorkers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearlyTravelerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearlyTravelerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfEstablishment)
        </dd>
    </dl>
</div>


<div>
    <a asp-controller="Airplanes" asp-action="Create">Create new Airplane</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
